Xft.dpi:       96
Xft.autohint:  false
Xft.antialias: true
Xft.hinting:   true
Xft.hintstyle: hintfull
Xft.rgba:      rgb
Xft.lcdfilter: lcddefault

!!!=== Colors for ALL ===!!!
*color0:         #000000
*color1:         #CC0000
*color2:         #4E9A06
*color3:         #C4A000
*color4:         #3465A4
*color5:         #75507B
*color6:         #06989A
*color7:         #D3D7CF
*color8:         #555753
*color9:         #EF2929
*color10:        #8AE234
*color11:        #FCE94F
*color12:        #729FCF
*color13:        #AD7FA8
*color14:        #34E2E2
*color15:        #EEEEEC
!!!=== Colors for ALL ===!!!

XTerm*utf8Title:      true
XTerm*renderFont:     true
XTerm*faceName:       DejaVu Sans Mono:style=Book
XTerm*faceSize:       10
XTerm*loginShell:     true
XTerm*saveLines:      10000
XTerm*geometry:       80x30
XTerm*internalBorder: 4
XTerm*background:     #101010
XTerm*foreground:     #AAAAAA
XTerm*cursorColor:    #AAAAAA

!!! RXVT-Unicode settings
URxvt*geometry:             91x36
URxvt*background:           #141213
URxvt*foreground:           #AAAAAA
URxvt*cursorColor:          #AAAAAA

URxvt*cursoreBlink:         true
URxvt*transparent:          false

URxvt*xftAntialias:         true
URxvt*font:                 xft:DejaVu Sans Mono:size=10:style=Book:antialias=true
URxvt*boldFont:             xft:DejaVu Sans Mono:Bold:size=10:style=Book:antialias=true

URxvt*scrollBar:            true
URxvt*scrollBar_right:      true
URxvt*scrollstyle:          plain

URxvt*saveLines:            5000
URxvt*tabbed.new-button:    no
URxvt*tabbed.tabbar-fg:     15
URxvt*tabbed.tabbar-bg:     0
URxvt*tabbed.tab-fg:        0
URxvt*tabbed.tab-bg:        8

URxvt*loginShell:           true
!URxvt*meta:                 ignore
URxvt*utmpInhibit:          true

URxvt*perl-ext-common:      default,tabbedex,matcher,url-select,clipboard-osc

URxvt.keysym.M-u:           perl:url-select:select_next

URxvt.url-select.autocopy:  false
URxvt.url-select.button:    1
URxvt.url-select.launcher:  seamonkey
URxvt.url-select.underline: true
URxvt.colorUL:              #3465A4


yeahconsole*term:            urxvt
yeahconsole*loginShell:      true
yeahconsole*savelines:       10000
yeahconsole*toolBar:         true
yeahconsole*screenWidth:     768
yeahconsole*consoleHeight:   30
yeahconsole*handleWidth:     1
yeahconsole*internalBorder:  1
yeahconsole*xOffset:         576
yeahconsole*toggleKey:       Win+grave
yeahconsole*background:      #141213
yeahconsole*foreground:      #AAAAAA
yeahconsole*cursorColor:     #AAAAAA
yeahconsole*restart:         1
yeahconsole*keyFull:         None+F11
yeahconsole*keySmaller:      Control+KP_Subtract
yeahconsole*keyBigger:       Control+KP_Add
yeahconsole*renderFont:      true
yeahconsole*metaSendsEscape: true

yeahconsole*cursoreBlink:    true
yeahconsole*transparent:     false

yeahconsole*xftAntialias:    true
yeahconsole*font:            xft:DejaVu Sans Mono:size=10:style=Book:antialias=true
!yeahconsole*font:                 xft:Inconsolata LGC:size=10:style=Book:antialias=true
yeahconsole*boldFont:        xft:DejaVu Sans Mono:Bold:size=10:style=Book:antialias=true
!yeahconsole*boldFont:             xft:Inconsolata LGC:Bold:size=10:style=Book:antialias=true

yeahconsole*scrollBar:       true
yeahconsole*scrollBar_right: true
yeahconsole*scrollstyle:     plain

yeahconsole*tabbed.new-button: no
yeahconsole*tabbed.title:    no
yeahconsole*tabbed.tabbar-fg: 0
yeahconsole*tabbed.tabbar-bg: 8
yeahconsole*tabbed.tab-fg:   0
yeahconsole*tabbed.tab-bg:   12

!yeahconsole*meta:            ignore
yeahconsole*utmpInhibit:     true

yeahconsole*perl-ext-common: default,tabbedex,matcher,url-select,clipboard-osc

yeahconsole.keysym.M-u:      perl:url-select:select_next

yeahconsole.url-select.autocopy: false
yeahconsole.url-select.button: 1
yeahconsole.url-select.launcher: seamonkey
yeahconsole.url-select.underline: true
yeahconsole.colorUL:         #3465A4

